<!DOCTYPE html>
<html lang="en">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/appModule.js"></script>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <title>SafeNote Client 0.3</title>
</head>
<body ng-app="appModule">

<div ng-controller="LoginController">
    <img class="logo" src="img/logo.png"/>
<input class="login" id="passInput" type="password" ng-keypress="login($event)" ng-click="clearLogin()" ng-model="password"/>
    <a ng-show="wrongpass" class="error">wrong passphrase</a>
    <img ng-show="loading" class="loading" src="img/loading.gif"/>

</div>

</body>
</html>
