html, body {
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*-o-user-select: none;*/
    /*unselectable: on;*/
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: #f2f2f2;
    background-size: cover;
    opacity: 0.95;
}

.app {
    height: 100%;
}

.login{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 25px;
    margin: -20px 0 0 -100px;
    size: 0;
    font-family: "Noto Sans";
    font-size: 17px;
    outline: none;
}

.newlogin{
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 200px;
    height: 25px;
    margin: -20px 0 0 -100px;
    size: 0;
    font-family: "Noto Sans";
    font-size: 17px;
    outline: none;
}

.logo{
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*-o-user-select: none;*/
    /*unselectable: on;*/
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -25px 0 0 -145px;
}

.logonew{
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*-o-user-select: none;*/
    /*unselectable: off;*/
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: 0px 0 0 -20px;
    opacity: 0.75;
}

.info{
    font-family: "Noto Sans";
    font-size: 16px;
    color: #9e9e9e;
    height: 30px;
    vertical-align: middle;


}

.icon{
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    /*-o-user-select: none;*/
    /*unselectable: on;*/
    padding-left: 35px;
    width: 30px;
    height: 30px;
    opacity: 0.75;
}

.iconHover{
    opacity: 1;
}

.loading{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    unselectable: on;
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -10px;
}

.error{
    font-family: "Noto Sans";
    font-size: 12px;
    color: red;
    display: block;
    position: absolute;
    top: 52%;
    left: 50%;
    margin-left: -97px;
}

.confirmation{
    font-family: "Noto Sans";
    font-size: 12px;
    color: green;
    display: block;
    position: absolute;
    top: 52%;
    left: 50%;
    margin-left: -97px;
}

.choose{
    font-family: "Noto Sans";
    font-size: 12px;
    color: #565656;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -97px;
}

.confirm{
    font-family: "Noto Sans";
    font-size: 12px;
    color: #565656;
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -97px;
}

textarea {
    font-family: "Noto Sans";
    font-size: 17px;
    color: #1a1a1a;
    line-height: 32px;
    border: none;
    outline: none;
    resize: none;
    padding: 55px;
    width: 86%;
    min-width: 600px;
    height: 100%;
    margin-top: 2%;
    box-shadow: 0 0 1em #c1c1c1;
}

.headerColumn {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    vertical-align: baseline;
    min-width: 200px;
}

.menuColumn{
    vertical-align: bottom;
}

.headerList {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    unselectable: on;
    margin-top: 1%;
    padding: 10px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.input {
    font-family: "Noto Sans";
    font-size: 17px;
    outline: none;
    /*color: #565656;*/
    color: #368bd1;
    background-color: #f2f2f2;
    line-height: 42px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    padding-top: 25px;
}

.header {
    font-family: "Noto Sans";
    font-size: 17px;
    color: #565656;
    line-height: 42px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #d6d6d6;
    padding-top: 25px;

}

.hover {
    color: #368bd1;
}

.scroll {
    overflow: auto;
}

.block{
    display: block;
    padding-bottom: 115%;
}

.metadata{
    font-family: "Noto Sans";
    padding-left: 40px;
    font-size: 15px;
    font-style: oblique;
    color: #242424;
    line-height: 42px;
    margin-left: auto;
}

.metadataTitle{
    font-family: "Noto Sans";
    padding-left: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #242424;
    line-height: 42px;
    margin-left: auto;
}


.searchIcon{
    width: 22px;
    height: 22px;
    padding-left: 5px;
    padding-top: 0px;
    opacity: 0.80;
    vertical-align: middle;
}

.clearIcon{
    width: 22px;
    height: 22px;
    padding-left: 5px;
    padding-top: 0px;
    opacity: 0.70;
    vertical-align: middle;
}

.search{
    font-family: "Noto Sans";
    font-size: 17px;
    outline: none;
    color: #565656;
    background-color: #ffffff;
    line-height: 42px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border-color: #d6d6d6;
    border-width: 1px;
    height: 20px;
    width: 165px;
    padding: 2px;
    padding-left: 5px;
}

.outerdiv{
    height: 100%;
}


