<!DOCTYPE html>
<html lang="en">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/appModule.js"></script>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <title>SafeNote Client 0.3</title>
</head>
<body ng-app="appModule">
<div ng-controller="KeyController">
    <img ng-class="{logonew: true, iconHover: hover}" ng-click="generate()" src="img/logo.png" ng-mouseenter="hover =true"
    ng-mouseleave="hover = false"/>
    <a class="choose">Choose a passhprase:</a>
<input class="newlogin" type="password" ng-model="password">
    <a class="confirm" ng-keypress="enter($event)">Confirm:</a>
    <input class="login" type="password" ng-model="confirm">
    <a class="error" ng-show="password!=confirm">Passphrase does not match.</a>
    <a class="confirmation" ng-show="(password==confirm)&&(password!='')">OK</a>
</div>

</body>
</html>